/* original idea http://www.bootply.com/phf8mnMtpe */

.tree {
    min-height: 20px;
    padding: 10px;
    margin-bottom: 20px;
    /* background-color: b; */
}

.tree li {
    list-style-type: none;
    margin: 0;
    padding: 1rem 0.5rem 0 0.5rem;
    position: relative
}

.tree li::before,
.tree li::after {
    content: '';
    left: -2rem;
    position: absolute;
    right: auto
}

.tree li::before {
    border-left: 1px solid #999;
    bottom: 5rem;
    height: 100%;
    top: 0;
    width: 1px
}

.tree li::after {
    border-top: 1px solid #999;
    height: 2rem;
    top: 1.9rem;
    width: 2.5rem;

    
}

.tree li span {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #999;
    border-radius: 0.25rem;
    display: inline-block;
    padding: 0.8rem 0.8rem;
    text-decoration: none;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    position: relative;
}

.tree li.parent_li>span {
    cursor: pointer
}

.tree>ul>li::before,
.tree>ul>li::after {
    border: 0
}

.tree li:last-child::before {
    height: 30px
}

.tree li.parent_li>span:hover,
.tree li.parent_li>span:hover+ul li span {
    background: #eee;
    border: 1px solid #94a0b4;
    color: #000
}