@import "../src/assets/styles/custom";
$nav-height: 64px;
$z-index-b: 1025;
$z-index-a: 1040;

.main_wrapper {
	padding-bottom: 1rem;
	width: 74%;
	background-color: $white-color;
}

.sidebar_wrapper {
	top: $nav-height;
	left: 1rem;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: $z-index-b;
	> div {
		height: 100%;
		width: 24%;
	}
}

.text-text {
	color: $text-color-1 !important;
}

#notistack-snackbar {
	word-break: break-all;
}

.leaflet-popup-content-wrapper {
	height: 100%;
}
.leaflet-popup-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 !important;
	padding: 1rem 1.5rem;
	height: 100%;
}

//****** MUI ******//
.inputPadding {
	input,
	.MuiSelect-select {
		height: 1.938rem !important;
		// height: 2.125rem !important;
		font-size: 1rem !important;
		line-height: 2rem !important;
	}
	textarea {
		font-size: 1rem !important;
	}
	label {
		line-height: 2rem !important;
	}
}

.MuiIconButton-colorCustom {
	color: $text-color-1 !important;
	background-color: $bg-l-color !important;
	&:not(:first-of-type) {
		margin-left: 0.5rem;
	}
}

.MuiSelect-select {
	.Mui-checked {
		display: none;
	}
}

.customPagination {
	> div {
		justify-content: flex-start;
	}
	.MuiTablePagination-spacer {
		flex: 0;
	}
	.MuiTablePagination-input {
		margin-right: 1rem;
		border-bottom: 1px solid $bg-d-color-1;
	}
	.MuiTablePagination-displayedRows {
		padding-right: 1rem;
		font-size: 0.75rem;
		color: $bg-d-color-1;
	}
	.MuiSelect-select {
		padding: 0.25rem 1.5rem 0.313rem 0.5rem;
		font-size: 0.875rem;
	}
}

//****** MUI END ******//

//****** RWD ******//

@media (max-width: 1023.98px) {
	.main_wrapper {
		width: 100%;
	}

	.sidebar_wrapper {
		transition: width 0.35s ease-in-out;
		&.hide {
			width: 0;
		}
		> div {
			width: 75vw;
		}
	}

	.bg_overlay {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		// inset: 0;
		z-index: $z-index-b;
		background-color: rgba(0, 0, 0, 0);
		backdrop-filter: blur(0);
		transition: all 0.35s ease;
		pointer-events: none;
		&.open {
			background-color: rgba(0, 0, 0, 0.35);
			backdrop-filter: blur(1px);
			pointer-events: all;
		}
	}
}

@media (max-width: 575.98px) {
	.main_wrapper {
		padding-bottom: 6rem;
		background-color: $bg-l-color-1;
	}
	.sidebar_wrapper,
	.bg_overlay {
		z-index: $z-index-a;
	}

	/* MUI */
	.inputPadding {
		input,
		.MuiSelect-select,
		textarea {
			font-size: 0.875rem !important;
		}
	}
	.customPagination {
		> div {
			padding-right: 1rem;
		}
		.MuiIconButton-root {
			display: none;
		}
	}
}
