$primary-color-1: #547db7;
$primary-color-2: #436799;
$primary-color-3: #394c7f;
$primary-color-4: #273057;
$secondary-color-1: #f7941d;
$tertiary-color-1: #039e8e;
$white-color: #fff;
$bg-l-color: #eeeeee;
$bg-l-color-1: #f5f5f5;
$bg-l-color-2: #e6e6e6;
$bg-d-color-1: #6d6d6d;
$bg-d-color-2: #343434;
$text-color-1: #1f1f21;
